{% extends "eticket/base.html" %}
{% block content %}
<li data-role="list-divider" role="heading" tabindex="0" class="ui-li ui-li-divider ui-btn ui-bar-a ui-corner-top ui-btn-up-undefined">Convenience is the key</li>
<a href="/eticket/route"><div class="prodlink ui-corner-top ui-corner-bottom">Bus Ticket</div></a>
<a href="/eticket/cancel"><div class="prodlink ui-corner-top ui-corner-bottom">Cancel Ticket</div></a>
<a href="#"><div class="prodlink ui-corner-top ui-corner-bottom">Travel News</div></a>
<div class="footbar"><div class="copyright">©Easy mobile 2011</span></div>
{% endblock %}
