{% extends "eticket/base.html" %}
{% block content %}
   Your transaction is being processed</br>
   You'll soon receive an sms confirmation with ticket details.</br>
   --------------------------------------------------------------------</br>
   THE SMS </br>
   To Phone number: {{ customerbookings.cusPhone }}</br>
   Thank you for using our service</br>
   Company: {{customerbookings.comp}}</br>
   Route: {{ customerbookings.cusFrom }}-{{ customerbookings.cusTo }}</br>
   Your unique Ticket ID :{{customerbookings.cusTicketID}}</br>
   Bus leaves at {{customerbookings.depart}}.Don't be late 
{% endblock %}
